<%= form_for @shoe do |f| %>
  <p>
    <%= f.label :shoe_type %>
    <%= f.text_field :shoe_type %>
  </p>
  <p>
    <%= f.label :heel %>
    <%= f.text_field :heel %>
  </p>
  <p>
    <%= f.submit 'Update Shoes' %>
  </p>
<% end %>