<%= form_for @shoe do |f| %>
  <p>
    <%= f.label :shoe_type %>
    <%= f.text_field :shoe_type %>
  </p>
  <p>
    <%= f.label :heel %>
    <%= f.text_field :heel %>
  </p>
  <p>
    <%= f.submit 'Create Shoes' %>
  </p>
<% end %>

<% @shoes.each do |shoe| %>
  <ul>
    <li>
      <%= link_to "#{shoe.shoe_type}", shoe_path(shoe) %>
      <br>
      <%= shoe.heel %>
    </li>
  </ul>
<% end %>